<div class="pg-profile">
    <header class="hero">
        <div class="wrapper">
			<img src="/images/abachar.jpg">

			<h1>Abdelhakim Bachar</h1>
			<p>Référent Technique, Certifié Java Programmer</p>

			<a href="tel:+33620075945" class="icon icon-phone">+33 6 20 07 59 45</a>
			<a href="mailto:a.bachar@hotmail.fr" class="icon icon-envelope">a.bachar@hotmail.fr</a>
			<a href="//www.google.com/+AbdelhakimBachar" class="icon icon-google">Google+</a>
			<a href="//github.com/abachar" class="icon icon-github">Github</a>
			<a href="//twitter.com/a_bachar" class="icon icon-twitter">Twitter</a>
			<a href="//www.facebook.com/abachar.net" class="icon icon-facebook">Facebook</a>
			<a href="//www.linkedin.com/in/abachar" class="icon icon-linkedin">LinkedIn</a>
		</div>
	</header>

    <div class="container">
        <main>
            <section id="experiences">
                <h1>Expériences</h1>
                <dl>
                    {{#each experiences}}
                        <dt>Du {{formatDate start 'DD/MM/YYYY'}}
                            {{#if end}}Au {{formatDate end 'DD/MM/YYYY'}}{{else}}Jusqu'à aujourd'hui{{/if}}
                        </dt>
                        <dd>
                            <p class="description"><strong>{{name}} </strong> : {{description}}</p>

                            <p class="job">{{job}} :</p>
                            {{#if roles}}
                                <ul>
                                    {{#each roles}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}

                            {{#if methods}}
                                <p class="methods">Méthodologie de travail :</p>
                                <ul>
                                    {{#each methods}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                            {{#if tools}}
                                <p class="tools">Outils et technologies :</p>
                                <ul>
                                    {{#each tools}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                            <p>Durée : {{{duration start end true}}}</p>
                        </dd>
                    {{/each}}
                </dl>
            </section>

            <section id="projects">
                <h1>Projets Personnels</h1>
                <dl>
                    {{#each projects}}
                        <dt>{{name}}</dt>
                        <dd>
                            <p>{{description}}</p>

                            <p class="tools">Outils et technologies :</p>
                            <ul>
                                {{#each tools}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </dd>
                    {{/each}}
                </dl>
            </section>

            <section id="competences">
                <h1>Compétences</h1>
                <dl>
                    {{#each competences}}
                        <dt>{{name}}</dt>
                        <dd>
                            <ul>
                                {{#each skills}}
                                    <li class="level-{{level}}">{{name}}</li>
                                {{/each}}
                            </ul>
                        </dd>
                    {{/each}}
                </dl>
            </section>

            <section id="studies">
                <h1>Formations</h1>
                <dl>
                    <dt>01/02/2010</dt>
                    <dd>DUESS SI-GESTION DE PROJET à l'université Hassan 1er, la Faculté des Sciences et Technique de Settat,
                        Maroc.
                    </dd>
                    <dt>01/05/2009</dt>
                    <dd>Certification : Sun Certified Java Programmer (SCJP)</dd>
                    <dt>01/11/2008</dt>
                    <dd>Formation Tuning SQL, Amélioration et optimisation des requêtes SQL par étude du plan d'exécution des
                        requêtes.
                    </dd>
                    <dt>01/07/2007</dt>
                    <dd>Maîtrise informatique à l'université Hassan 1er, Faculté des Sciences et Technique de Settat,
                        Maroc. <span class="badge">Bien, Major de promotion</span></dd>
                    <dt>01/07/2005</dt>
                    <dd>DEUG option mathématique à L'université Hassan 1er, Faculté des Sciences et Techniques de Settat,
                        Maroc. <span class="badge">A bien</span></dd>
                    <dt>01/02/2002</dt>
                    <dd>Baccalauréat sciences mathématiques à Lycée Errazi de Settat, Maroc. <span class="badge">A bien</span>
                    </dd>
                </dl>
            </section>

            <section id="languages">
                <h1>Langues</h1>
                <dl>
                    <dt>Anglais</dt>
                    <dd>Débutant</dd>
                    <dt>Arabe</dt>
                    <dd>Langue maternelle.</dd>
                    <dt>Français</dt>
                    <dd>Courant</dd>
                </dl>
            </section>

            <section id="interets">
                <h1>Centre d'intérêt</h1>
                <dl>
                    <dt>Activité parascolaire</dt>
                    <dd>Président du club des informaticiens à la Faculté des Sciences et Technique de Settat entre 2005 et
                        2007.
                    </dd>
                    <dt>Sport</dt>
                    <dd>Basket-ball, natation, tennis.</dd>
                    <dt>Permis</dt>
                    <dd>B</dd>
                </dl>
            </section>
        </main>

        <aside>
            <h1>Fiche Personnel</h1>
            <ul class="unstyled">
                <li><h4>Abdelhakim Bachar</h4></li>
                <li><a href="tel:+33620075945" class="icon icon-phone">+33 6 20 07 59 45</a></li>
                <li><a href="mailto:a.bachar@hotmail.fr" class="icon icon-envelope">a.bachar@hotmail.fr</a></li>
                <li><a href="mailto:buchir@gmail.com" class="icon icon-envelope">buchir@gmail.com</a></li>
                <li><a href="mailto:abachar@xebia.fr" class="icon icon-envelope">abachar@xebia.fr</a></li>
                <li><a href="//www.google.com/+AbdelhakimBachar" class="icon icon-google">Google+</a></li>
                <li><a href="//github.com/abachar" class="icon icon-github">Github</a></li>
                <li><a href="//twitter.com/a_bachar" class="icon icon-twitter">Twitter</a></li>
                <li><a href="//www.facebook.com/abachar.net" class="icon icon-facebook">Facebook</a></li>
                <li><a href="//www.linkedin.com/in/abachar" class="icon icon-linkedin">LinkedIn</a></li>
                <li><a href="#" class="icon icon-house">81, Avenue Pierre Brossolette 92120 Montrouge</a></li>
                <li>{{{duration "26/09/1983" null false}}}, Marié</li>
            </ul>

            <h2>Navigations</h2>
            <ul class="unstyled">
                <li><a href="#experiences" class="icon icon-arrow">Expériences Professionnelles</a></li>
                <li><a href="#projects" class="icon icon-arrow">Projets Personnels</a></li>
                <li><a href="#competences" class="icon icon-arrow">Compétences</a></li>
                <li><a href="#studies" class="icon icon-arrow">Formations</a></li>
                <li><a href="#languages" class="icon icon-arrow">Langues</a></li>
                <li><a href="#interets" class="icon icon-arrow">Centre d'intérêt</a></li>
            </ul>

            <h2>Impression</h2>
            <ul class="unstyled">
                <li><a href="#" class="icon icon-print">Imprimer</a></li>
                <li><a href="#" class="icon icon-download">Télécharger Format PDF</a></li>
                <li><a href="#" class="icon icon-download">Télécharger Format Word</a></li>
            </ul>
        </aside>
    </div>
</div>