<div class="pg-home">

    <header class="hero">
        <div class="wrapper">
            <img src="/images/abachar.jpg">
            <h1>Abdelhakim Bachar</h1>
            <p>Référent Technique, Certifié Java Programmer</p>
        </div>
    </header>

    <main>
        <section class="about-and-projects">
            <div class="wrapper">
                <div class="about">
                    <h1>À propos</h1>
					<div class="summary">
						<p>Je m'appelle Abdelhakim Bachar, je suis référent technique dans les technologies web, je conçois et développe des sites internet innovants et originaux.<br />
							Je suis autonome, créative et je respecte mes engagements.</p>
						<p>Mon métier est une passion et pour rester au niveau, je me tiens toujours au courant des dernières tendances et technologies du web.</p>

						<p>Pour toutes informations complémentaires vous pouvez me contacter à l'aide du formulaire de la page "Contact".</p>
					</div>
                   	<p class="readmore"><a class="button" href="/profile">Profil détaillé</a></p>
                </div>
                <div class="projects">
                    <h1>Portfolio</h1>

                    {{#each projects}}
                        <article>
                            <figure>
                                {{#if thumbnail}}
                                    <img src="/projects/{{code}}/assets/{{thumbnail}}"/>
                                {{else}}
                                    <img src="/images/project-no-thumbnail.png"/>
                                {{/if}}
                            </figure>
                            <div class="description">
                              <h3>{{name}}</h3>
                              <p>{{description}}</p>
                            </div>
                        </article>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="articles">
            <div class="wrapper">
                <h1>Derniers articles</h1>

                {{#each articles}}
                    <article>
                        <h3><a href="/blog/{{code}}">{{title}}</a></h3>
                        <figure>
                            <a href="/blog/{{code}}"><img src="/blog/{{code}}/assets/{{thumbnail}}" /></a>
                        </figure>
                        <p>{{description}}</p>
                    </article>
                {{/each}}
            </div>
        </section>
    </main>
</div>