<main class="pg-projects">
	<header class="hero">
		<div class="wrapper">
			<img src="/images/abachar.jpg">
			<h1>Abdelhakim Bachar</h1>
		</div>
	</header>

	{{#each projects}}
		<article>
			<h2>{{name}}</h2>
			<figure date-code="{{code}}">
				{{#if images}}

					{{#each images}}
						<a class="{{#if @index}}hidden{{/if}}" data-gallery="gallery-{{../code}}"
						   href="/projects/assets/{{../code}}/gallery/{{this}}">
							{{#unless @index}}
								<img src="/projects/assets/{{../../code}}/{{../../thumbnail}}"/>
							{{/unless}}
						</a>
					{{/each}}
				{{else}}
					<img src="/images/project-no-thumbnail.png"/>
				{{/if}}
			</figure>
			<p class="description">{{description}}</p>
		</article>
	{{/each}}
</main>