<main class="pg-projects">
	<header class="hero">
		<div class="wrapper">
			<img src="/images/abachar.jpg">
			<h1>Abdelhakim Bachar</h1>
		</div>
	</header>

	<div class="projects">
		{{#each projects}}
            <article>
                <h1>{{name}}</h1>
                <figure code="{{code}}">
					{{#if images}}
						{{#each images}}
                            <a class="{{#if @index}}hidden{{/if}}" gallery="gallery-{{../code}}"
                               href="/projects/assets/{{../code}}/gallery/{{this}}">
								{{#unless @index}}
                                    <img src="/projects/assets/{{../../code}}/{{../../thumbnail}}"/>
								{{/unless}}
                            </a>
						{{/each}}
					{{else}}
                        <img src="/images/project-no-thumbnail.png"/>
					{{/if}}
                </figure>
                <p class="description">{{description}}</p>
            </article>
		{{/each}}
	</div>
</main>