<main class="pg-blog">
	<header class="hero">
		<div class="wrapper">
			<img src="/images/abachar.jpg">
			<h1>Abdelhakim Bachar</h1>
		</div>
	</header>

	{{#each articles}}
		<article>
			<h1><a href="/blog/{{code}}">{{title}}</a></h1>
			<p class="author"><time>{{formatDate created_at "DD MMMM YYYY"}}</time>, par {{author}}</p>
			<figure>
				<a href="/blog/{{code}}"><img src="/blog/{{code}}/assets/{{thumbnail}}"/></a>
			</figure>
			<div class="summary">{{description}}</div>
			<div class="readmore"><a class="button" href="/blog/{{code}}">Lire la suite</a></div>
		</article>
	{{/each}}
</main>