<main class="pg-article">
	<header>
		<h2>{{article.title}}</h2>
		<p>
			<small><time>{{formatDate article.created_at "DD/MM/YYYY"}}</time>, par {{article.author}}</small>
			{{#if article.printable}}
				<a href="#">Imprimer l'article</a>
			{{/if}}
		</p>

		{{#if article.draft}}
			<p class="notice">Cet article est en cours de rédaction, et ne constitue donc pour l’instant qu’une simple introduction.
				Il fera l’objet d’un redécoupage, d'une refonte et d’un approfondissement conséquent par la suite.</p>
		{{/if}}
	</header>

    <section class="content">{{{marked contents}}}</section>

    <section class="comments">
        {{#each article.comments}}
            <div>
                <h4>{{author}}</h4>
                <p>{{content}}</p>
                <time>{{created_at}}</time>
            </div>
        {{/each}}

        <form>
            <input name="author" type="text" maxlength="100" placeholder="Nom complet">
            <input name="email" type="text" maxlength="100" placeholder="Adresse mail">
            <textarea name="content" rows="5" placeholder="Commentaire..."></textarea>

            <button type="button" class="button">Envoyer</button>
        </form>
    </section>
</main>