<main class="pg-article">
	<header>
		<h2>{{article.title}}</h2>
		<p>
			<small><time>{{formatDate article.created_at "DD/MM/YYYY"}}</time>, par {{article.author}}</small>
			{{#if article.printable}}
				<a href="#">Imprimer l'article</a>
			{{/if}}
		</p>

		{{#if article.draft}}
			<p class="warning">Cet article est en cours de rédaction, et ne constitue donc pour l’instant qu’une simple introduction.
				Il fera l’objet d’un redécoupage, d'une refonte et d’un approfondissement conséquent par la suite.</p>
		{{/if}}
	</header>

    <section class="content">{{{marked contents}}}</section>

    <section class="comments">
		<h4>Commentaires</h4>
        {{#each article.comments}}
            <article>
                <h5>{{author}}<small>{{formatDate created_at 'DD/MM/YYYY'}}</small></h5>

                <p>{{content}}</p>
            </article>
        {{/each}}

		<h4>Laisser un commentaire</h4>
        <form id="js-comment-form" action="/blog/{{article.code}}/comments">
			<p class="error"></p>

            <input name="author" type="text" maxlength="100" placeholder="Nom complet">
            <input name="email" type="text" maxlength="100" placeholder="Adresse mail">
            <textarea name="content" rows="5" placeholder="Commentaire..."></textarea>

            <button type="button" class="button js-btn-send">Envoyer</button>
        </form>
    </section>
</main>